.header {
    box-sizing: border-box;
    width: 100%;
    padding:none;
    display: flex;
    justify-content: center;
}

.header__container {
    box-sizing: border-box;
    /* background-color: rgba(255, 0, 0, .2); */
    width: 100%;
    height: 100px;
    padding: none;
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    grid-template-rows: 2 auto;
    grid-gap: 0px;
    justify-content: center;
}


.header__home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__home-icon {
    padding: 7px;
}

.header__logo-container {
    font-size: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-column: 2/5;
    /* border: 1px solid black; */
}

.header__logo-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__current-city {
    font-size: 1.25rem;
    padding:5px;
    display: flex;
    justify-self: center;
    align-self: flex-end;
}

.header__ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/6;
    /* background-color: rgba(255, 0, 0, .2); */
}

.header__nav {
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    /* background-color: rgba(255, 0, 0, .2); */
}

.header__nav-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .75rem;
}

.header__nav-button {
    font-family:  "Londrina Solid";
    padding: 5em, 1em;
    font-size: .8rem;
    border:2px solid rgb(220,200,200, 0.7);
}

.header__nav-button:hover {
    background: rgb(139,0,0, 0.5);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(106, 103, 103, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(106, 103, 103, 0.57);
    box-shadow: 5px 40px -10px rgba(106, 103, 103, 0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    }

.header__above {
    display: grid;
    grid-template-columns: 2 auto;
    /* justify-content: space-between; */
    background-color: rgba(139,0,0,1);
    height:35px
}

.header__burger {
    display: flex;
    grid-column: 2;
    /* display: flex; */
    justify-self: flex-end;
    justify-content: flex-end;
    /* align-items: flex-start; */
    left:0;
    width: 20px;
}

.header__burger__bars {
    padding:7px;
    z-index: 5;
}

.header__burger__bars:hover {
    -webkit-box-shadow: 0px 5px 40px -10px rgba(50, 5, 5, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(50, 5, 5, 0.57);
    box-shadow: 5px 40px -10px rgba(50, 5, 5, 0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.header__settings {
    z-index: 0;
    position:fixed;
    right: 0;
    top: 0;
    height: 130px;
    width: 150px;
    background-color: rgba(139,0,0,1);
    border: 1px solid rgba(0,0,0,.3);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}
/* 
.header__settings ul {
    height: auto;
} */

.header__settings--hidden {
    display: none;
}