.main {
    display: grid;
    grid-template-columns: 1fr 1fr 29%;
    grid-template-rows: 5fr 1fr 1fr;
    height: 700px;
}

.main__news {
    text-align: center;
    display: block;
    grid-column: 3;
    overflow: scroll;
    font-size: .75rem;
    overflow-x: hidden;
}

.rss_pic {
    position: relative;
    width: 100%;
}

.main__news p {
    font-weight: 100;
}

.main__my-rooms {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column:1/3;
    background-color: rgba(255, 0, 0, .2);
}

.main__biggest-jp {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 2/3;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom: none;
}

.main__hit {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 3/4;
    border: 1px solid rgba(0,0,0,.2);
}