body {
    display: block;
    background-color: lightcoral;
}

.header {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    padding:none;
    display: flex;
    justify-content: center;
}

.header__container {
    box-sizing: border-box;
    background-color: grey;
    width: 100%;
    height: 200px;
    padding: none;
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    grid-template-rows: 2 auto;
    grid-gap: 0px;
    justify-content: center;
}

.header__home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 1/2;
    border: 3px solid black;
}

.header__logo-container {
    text-align: center;
    display: grid;
    grid-template-rows: 90px 10px;
    grid-column: 2/5;
    border: 3px solid black;
}

.header__current-city {
    display: flex;
    justify-self: center;
    align-self: flex-end;
}

.header__burger {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    grid-column: 5/6;
    border: 3px solid black;
}

.header__hit {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/6;
    grid-row: 2;
    border: 3px solid black;
}

.header__ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    background-color: lightcoral;
    /* border: 3px solid black; */
}

.header__biggest-jp {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2;
    border: 3px solid black;
}

.header__nav {
    position: relative;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    left: 0;
    right: 0;
    top:195px;
    width: 100%;
    height: 35px;
    border: 1px solid black;
}

.header__nav-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .75rem;
}

.footer__div {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: grey;
}

.footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: none;
}