.about-page-how-to-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin-bottom: 20px;
    height: 500px;
    margin:auto;
    border-bottom: 1px solid lightgray;
    padding-top: 2%;
    padding-bottom: 2%;
}

#how-to-get-started {
    text-align: center;
}

.about-page-how-to-container > p {
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-size: 1.3rem;
    margin: none;
    /* color: rgb(0,200,6); */
    
}

.about-page-how-to-1 {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.about-page-how-to-2 {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.create-acount-img {
    display: block;
    width: 60%;
    height: auto;
    max-height: 90%;
    padding-bottom: 1%;
}

.add-rooms-img {
    display: block;
    width: 100%;
    height: auto;
}

.dashboard-img {
    display: block;
    width: 100%;
    height: auto;
}

.report-img {
    display: block;
    width: 100%;
    height: auto;
}


.winbig {
    grid-column: 1/3;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.one-two {
    font-size: 1.1rem;
}

.section-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-four > div {
    width: 50%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

/* #about-page-last-step {
    background-image: url('../images/falling-cash.gif');
    background-position: center;
    background-repeat: no-repeat;
} */

.about-create-word {
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(0,200,6);
    /* text-decoration: underline; */
}

.about-create-win {
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(0,200,6);
    margin-left: 1%;
    text-transform: none;
}