.about-page-how-to-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin-bottom: 20px;
    height: 500px;
    margin:auto;
    border-bottom: 1px solid lightgray;
    padding-top: 2%;
    padding-bottom: 2%;
}

#how-to-get-started {
    text-align: center;
}

.about-page-how-to-container > p {
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-size: 1.3rem;
    margin: none;    
}

.about-page-how-to-1 {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.about-page-how-to-2 {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.create-acount-img {
    display: block;
    width: 60%;
    height: auto;
    max-height: 90%;
    padding-bottom: 1%;
}

.add-rooms-img {
    display: block;
    width: 100%;
    height: auto;
}

.dashboard-img {
    display: block;
    width: 100%;
    height: auto;
}

.report-img {
    display: block;
    width: 100%;
    height: auto;
}


.winbig {
    grid-column: 1/3;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.one-two {
    font-size: 1.1rem;
}

.section-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-four > div {
    width: 50%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.about-create-word {
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(0,200,6);
    text-transform: none;
}

.about-create-win {
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(0,200,6);
    margin-left: 1%;
    text-transform: none;
}

@media screen and (max-width:980px) {
    .about-section-div-what-title {
        width: 95%;
        margin: auto;
        text-align: center;
        font-size: 1.8rem;
    }

    h1 {
        width: 95%;
    }

    .about-section-desc-div {
        font-size: 1.5rem;
    }

    #how-to-get-started {
        font-size: 3.8rem;
    }

    .about-page-how-to-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        height: 100%;
        margin-bottom: 15%;
    }

    .mobile-how-to-gif {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height: auto;
    }

    .mobile-how-to-desc {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 15%;
        padding-top: 10%;
    }

    .mobile-how-to-gif-1 {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height: auto;
    }

    .about-create-word, .about-create-win, .about-page-how-to-1, .about-page-how-to-container > p  {
        font-size: 2.8rem;
    }

    .winbig {
        grid-row: 1/3;
    }
    
    .about-section-div > h2 {
        font-size: 2.8rem;
    }

    .about-section-div > span {
        font-size: 2rem;
    }
}