
.cardroom-details-page-container {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: .7fr 1.5fr;
    grid-template-columns: 1fr 2fr;
    max-width: 1700px;
    max-height: 2200px;
    margin-top: 5%;
}

.cardroom-details-container {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    max-width: 680px;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10%;
    margin-right:5%;
}

.cardroom-details-title {
    margin-top: 15%;
    font-family: Wire One;
    font-size: 3rem;
}

.cardroom-details-location {
    font-weight: bold;
}

/* .cardroom-details-food {

} */

.cardroom-details-sub-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    margin: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cardroom-details-sub-button:hover {
    background-color: rgb(6, 189, 12);
}

.cardroom-details-chart-container {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


    
.cardroom-details-reviews-container {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* margin-top: 5%; */
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 15%;
    border-top: 1px solid gray;
    margin-top: 5%;
}

.reviews-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* margin-top:3%; */
}

.reviews-form-container{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25%;
    min-height: 157px;
}

/* .reviews-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.reviews-form-textarea {
    width: 60%;
    /* height: 90%; */
    background-color:rgb(231,240,254);
    border-radius: 5px;
    border: none;
    font-family: 'Nunito', sans-serif;
    height: 130px;
    padding: 2%;


}

.reviews-form-submit-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    /* padding: 4.2%; */
    margin-left: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.reviews-form-submit-button:hover {
    background-color: rgb(6, 189, 12);
}

.reviews-review-container {
    width: 45%;
    overflow-y: scroll;
    width: 100%;
    height: 70%;
    overflow-x: hidden;
    margin-top: 3%;

}

.review-container {
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: 20%, 80%;
    grid-template-rows: 1fr 1fr 1fr;

}

.review-date {
    font-size:.8rem;
    margin-left: 5%;
    grid-row: 1/2;
    grid-column: 1/2
}

.review-review-container{
    width: 100%;
    height: 100%;
    margin-left: 5%;
    grid-row: 1/4;
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}
.review-review {
    text-align: center;
    width: 85%;
    height: 90%;
    margin-left: 5%;
    grid-row: 1/4;
    grid-column: 2/3;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review-user-name {
    margin-left: 5%;
    grid-row: 3/4;
    grid-column: 1/2
}