.card-rooms-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.card-rooms-title{
    margin-top: 10%;
}

.card-rooms-table-container{
    width:80%;
    margin-bottom: 5%;
}

.card-rooms-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .card-rooms-table  td, .card-rooms-table  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .card-rooms-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .card-rooms-table tr:hover {background-color: #ddd;}
  
  .card-rooms-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  rgb(0,200,6);
    color: white;
  }

  .card-room-table-links {
      color: black;
      text-decoration: none;
  }

.card-room-table-links:hover {
    color: rgb(0,200,6);
  }

.cardroom-select-el {
  margin: 1%;
  width: 100%;
  border-radius: 5px;
  padding: 2%;
  max-height: 50px;
}

.selects-container {
  max-height: 50px;
  margin-bottom: 5%;
}

@media screen and (max-width:980px) {
  .card-rooms-page-container {
    width: 100%;
  }

  .card-rooms-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 15%;
  }

  .selects-container {
    width: 80%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardroom-select-el {
    font-size: 3rem;
    width: 75%;
    margin: 4%;
    padding: 1%;
    text-indent: 10px;
    max-height: calc(1.2em + 24px);
    border-radius: 5px;
  }
  .cardroom-select-el > option {
    font-size: 2rem;
    margin: auto;
    padding: 1%;
    max-height: calc(1.2em + 24px);

  }

  .card-rooms-table-container {
    width: 90%;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .card-rooms-table {
    font-size: 2.3rem;
  }

  .card-rooms-table  td, .card-rooms-table  th {
    padding: 4%;
  }
}