
.cardroom-details-page-container {
    width: 100%;
    display:grid;
    grid-template-rows: .4fr 1.5fr;
    grid-template-columns: 1fr 2fr;
    max-width: 1700px;
    min-height: 100vh;
    margin-top: 5%;

}

.cardroom-details-container {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    max-width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right:5%;
}

.cardroom-details-title {
    /* margin-top: 15%; */
    font-family: Wire One;
    font-size: 3rem;
}

.cardroom-details-location {
    font-weight: bold;
}

/* .cardroom-details-food {

} */

.cardroom-details-sub-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    margin: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cardroom-details-sub-button:hover {
    background-color: rgb(6, 189, 12);
}

.cardroom-details-chart-container {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}


    
.cardroom-details-reviews-container {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 15%;
    margin-bottom: 5%;
    border-top: 1px solid gray;
    padding-top: 2%;
    margin-top: 10%;

}

.reviews-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* margin-top:3%; */
}

.reviews-form-container{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25%;
    min-height: 157px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 3%;
}


.reviews-form-textarea {
    width: 60%;
    /* height: 90%; */
    background-color:rgb(231,240,254);
    border-radius: 5px;
    border: none;
    font-family: 'Nunito', sans-serif;
    height: 130px;
    padding: 2%;


}

.reviews-form-submit-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    /* padding: 4.2%; */
    margin-left: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.reviews-form-submit-button:hover {
    background-color: rgb(6, 189, 12);
}

.reviews-review-container {
    width: 45%;
    overflow-y: scroll;
    width: 100%;
    height: 70%;
    overflow-x: hidden;
    margin-top: 3%;

}

.review-container {
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: 20%, 80%;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;

}

.review-date {
    justify-self: flex-start;
    font-size:.8rem;
    margin-left: 5%;
    grid-row: 1/2;
    grid-column: 1/2
}

.review-review-container{
    width: 100%;
    height: 100%;
    margin-left: 5%;
    grid-row: 1/4;
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}
.review-review {
    text-align: center;
    width: 85%;
    /* height: 90%; */
    margin-left: 5%;
    grid-row: 1/4;
    grid-column: 2/3;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review-user-name {
    justify-self: flex-start;
    margin-left: 5%;
    grid-row: 3/4;
    grid-column: 1/2
}


.cardroom-hit-jackpots-container {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: auto;
    margin-top: 5%;
    justify-self: center;
    width: 75%;
    text-align: center;
    width: 95%;
}

.cardroom-hit-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.cardroom-hit-table  td, .cardroom-hit-table  th {
border: 1px solid #ddd;
padding: 8px;
}

.cardroom-hit-table tr:nth-child(even){background-color: #f2f2f2;}

.cardroom-hit-table tr:hover {background-color: #ddd;}

.cardroom-hit-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color:  rgb(0,200,6);
color: white;
}

@media screen and (max-width: 980px) {
    .cardroom-details-page-container {
        width: 100%;
        grid-template-rows: .4fr .5fr 1.5fr;
        grid-template-columns: 100%;
        margin: auto;
        margin-top: 5%;
    }
    .cardroom-details-container {
        width: 100%;
        margin: auto;
    }

    .cardroom-details-title {
        width: 100%;
        text-align: center;
        font-size: 6rem;
    }

    .cardroom-details-location {
        font-size: 2.5rem;
    }

    .cardroom-details-food {
        font-size: 2rem;
    }

    .cardroom-details-sub-button {
        width: 300px;
        height: 100px;
        font-size: 2rem;
    }

    .cardroom-details-chart-container {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 90%;
        margin: auto;
    }

    .cardroom-hit-jackpots-container {
        grid-row: 3/4;
        width: 95%;
        margin: auto;
        margin-top: 12%;
    }

    .cardroom-hit-jackpots-container > h2 {
        font-size: 2.5rem;
    }

    .cardroom-hit-table  td, .cardroom-hit-table  th {
        font-size: 2rem;
        padding: 5%;
    }

    .cardroom-details-reviews-container {
        width: 95%;
        margin: auto;
        margin-bottom: 15%;
        margin-top: 15%;
    }

    .reviews-container {
        width: 95%;
        margin: auto;
    }

    .reviews-form-container {
        width: 100%;
        margin-top: 5%;
        padding-bottom: 10%;
    }

    .reviews-form-textarea {
        width: 60%;
        height: 200px;
        font-size: 2rem;
    }

    .reviews-form-submit-button {
        width: 200px;
        height: 100px;
        font-size: 2rem;
    }

    .reviews-review-container {
        margin-top: 5%;
        font-size: 2rem;
        width: 100%;
    }

    .review-container {
        grid-template-columns: 30% 70%;
    }

    .review-date {
        font-size: 1.8rem;
    }
}