.dashboard-container {
    display: grid;
    grid-template-columns: 65% 35%;
}

.dashboard-greeting {
    margin-top: 5%;
    margin-left: 5%;
    font-family: Wire One;
    font-size: 2.5rem;
}

.my-jackpots-div {
    grid-column: 2/3;
    margin-top: 50px;
    width: 27%;
    margin-left: 10%;
    height: calc(90% - 100px);
    font-size: 1rem;
    font-weight: 200;
    overflow-y: scroll;
    position: fixed;
    left: 60%;
    right: 7%;
    box-shadow:  0px 0px 14px 14px rgb(238, 238, 238);
    overflow-x: hidden;
}

.my-jackpots-el-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8%;
    flex-wrap: wrap;
}

/* .my-jackpots-el-div.pointer{
    cursor: pointer;
} */

.my-jackpots-el {
    margin: 5%;
    border-bottom:1px solid grey;
    padding-bottom: 10%;
    list-style-type: none;
    padding-right: 10%;
    padding-top: 10%;
    text-decoration: none;
    text-align: center;
    padding-left:5%
}

.jackpot-el-not-hit {
    color: rgb(0,200,6);
}

.jackpot-el-hit {
    color: red
}

.my-jackpots-logo {
    width:60%;
    margin-left: 20%;
    margin-top: 5%;
    bottom: 2%
}

.my-jackports-room-name{
    color: black;
    font-weight: bold;
    margin: 3%;
}

.my-jackports-room-hit{
    margin: 3%;
}

.my-jackports-room-amount{
    font-weight: bold;
    margin: 3%;
}

.my-jackpot-list-title {
    padding-left: 8%;
    border-bottom: 1px solid lightgray; 
    width: 100%;
    padding-bottom: 8%;
}

.no-rooms-container {
    width: 70%;
    height: 300px;
    margin-left: 15%;
    margin-top: 10%;

}

.no-rooms-link {
    text-decoration: none;
    color: rgb(0,200,6);
    font-size: 1.3rem;
    font-weight: bold;
}

.no-rooms-link:hover {
    color: rgb(4, 160, 9);
}

.subscription-container {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
}


.subscription-el {
    margin: 3%;
    text-decoration: none;
    color: black
}

.subscription-title {
    font-size: 1.5rem
}

.subscription-links:hover {
    color:rgb(0,200,6);
}

.big-jackpot-container {
    grid-column: 1/2;
    /* border-top: 1px solid lightgrey; */
    margin-top: 5%;
    text-align: center;

}

.big-jackpot-header {
    color: rgb(0,200,6);
}

.report-jackpot-contianer {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.report-jackpot-form-containeer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid grey;
    margin-left: 5%;
    padding: 1%;
    flex-wrap: wrap;
    width: 100%;
}

.report-title{
    text-align: center;
    font-size:1.3rem;
}

.report-error {
    margin: 1%;
    color: red;
}

/* .report-title {
    font-weight: bold;
    font-size: 1rem
} */

.report-form-label{
    align-self: center;
}

.report-form-input{
    background-color:rgb(231,240,254);
    border-radius: 5px;
    border: none;
    height: 40px;
    margin: 2%;
}

.report-form-input:focus{
    outline: 1px solid rgb(0,200,6);
    box-shadow: 0 0 3pt 2pt rgb(0,200,6);
}

.report-form-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 1.5%;
    height: 40px;
}

.report-form-button:hover{
    background-color: rgb(6, 189, 12);
}

.report-form-button:focus {
    border: none;
    box-shadow: rgb(6, 189, 12);;
}

.report-form-select {
    border-radius: 5px;
    padding: 1.5%
}

.report-form-el {
    padding-left: 3%;
    padding-right: 3%;
    margin: 2%;
    border-radius: 5px;

}

.input-icon {
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
    /* margin-left: 1%;
    margin-right: 1%; */
  }
  
  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
  }
  
  .input-icon > input {
    padding-left: 25px;
    padding-right: 0;
  }
  
  .input-icon-right > i {
    right: 0;
  }
  
  .input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
  }

  .not-hidden {
      color:rgb(0,200,6);
  }

  .hidden {
      display: none
  }

.news-container {
    grid-column: 1/2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid gray;
    margin-top: 5%;
    /* width: 50%; */
}

.news-story-container {
    width: 95%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1.5fr 2.5fr;
    height: 300px;
    max-width: 95%;
    margin-left: 5%;
    border-bottom: 1px solid gray;
}

.news-story-container:hover {
    background-color: lightgray;
}

.news-story-date {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: .8rem;
    margin-top:5%;
}

.news-story-pic {
    grid-column: 2/3;
    grid-row: 2/5;
    width:95%;
    border-radius:5px;
    margin-right: 2%;

}

.news-story-link {
    text-decoration: none;
    color: black;
    max-width: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.2rem;
    margin-left: 5%;
}

.news-story-link:hover {
    color: rgb(0,200,6);
}

.news-story-snippet {
    grid-column: 1/2;
    grid-row: 3/5;
    margin-left:5%;
    margin-right:5%;
    overflow: hidden;
}

.chart-container {
    grid-column: 1/2;
    width:100%;
    /* height: 500px; */
}

/* #line-chart {
    
} */