.dashboard-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 2 auto;
    width: 90%;
    max-width: 1100px;
}

.dashboard-greeting {
    margin-top: 5%;
    margin-left: 5%;
    font-family: Wire One;
    font-size: 2.5rem;

}

.my-jackpots-div {
    grid-column: 2/3;
    margin-top: 50px;
    width: 27%;
    margin-left: 10%;
    margin-right: 15%;
    height: calc(90% - 100px);
    font-size: 1rem;
    font-weight: 200;
    overflow-y: scroll;
    position: fixed;
    left: 60%;
    right: 7%;
    box-shadow:  0px 0px 14px 14px rgb(238, 238, 238);
    overflow-x: hidden;
    max-width: 365px;
}

.my-jackpots-el-div{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    padding-bottom: 4%;
    padding-top: 4%;
    flex-wrap: wrap;
}

.my-jackpots-el-div:hover {
    background-color: rgb(245, 243, 243);
}

.my-jackpots-el {
    margin: 5%;
    border-bottom:1px solid grey;
    padding-bottom: 10%;
    list-style-type: none;
    padding-right: 10%;
    padding-top: 10%;
    text-decoration: none;
    text-align: center;
    padding-left:5%
}

.jackpot-el-not-hit {
    color: rgb(0,200,6);
}

.jackpot-el-hit {
    color: red
}

.my-jackpots-logo {
    width:60%;
    margin-left: 20%;
    margin-top: 5%;
    bottom: 2%
}

.my-jackports-room-name-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
}

.my-jackports-room-name{
    color: black;
    font-weight: bold;
    margin: 3%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.my-jackports-room-name:hover {
    cursor: pointer;
    color: rgb(4, 160, 9);
}

.my-jackports-room-hit{
    margin: 3%;
    font-size: .9rem;
}

.my-jackports-room-amount{
    font-weight: bold;
    margin: 3%;
}

.my-jackpot-list-title {
    padding-left: 8%;
    text-align: left;
    border-bottom: 1px solid lightgray; 
    width: 100%;
    padding-bottom: 8%;
    font-size: 1.3rem;
    margin-bottom: 0px;
}

.jp-amount-and-hit-div {
    text-align: center;
}

.jackpot-sparkline-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-rooms-container {
    width: 70%;
    height: 300px;
    margin-left: 15%;
    margin-top: 10%;

}

.no-rooms-link {
    text-decoration: none;
    color: rgb(0,200,6);
    font-size: 1.3rem;
    font-weight: bold;
}

.no-rooms-link:hover {
    color: rgb(4, 160, 9);
}

.sub-container {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.subscription-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    margin-bottom: 5%;
    padding-left: 10%;
    width: 100%;
}

.subscription-el {
    margin: 3%;
    text-decoration: none;
    color: black;
}

#subscription-title {
    font-size: 1.3rem;
}

.subscription-links:hover {
    color:rgb(0,200,6);
}

.big-jackpot-container {
    grid-column: 1/2;
    /* border-top: 1px solid lightgrey; */
    margin-top: 5%;
    text-align: center;

}

.big-jackpot-header {
    color: rgb(0,200,6);
}

.report-jackpot-contianer {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.report-jackpot-form-containeer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid grey;
    margin-left: 5%;
    padding: 1%;
    flex-wrap: wrap;
    width: 90%;
}

.report-title{
    text-align: center;
    font-size:1.3rem;
}

.report-error {
    margin: 1%;
    color: red;
}

.report-form-label{
    align-self: center;
}

.report-form-input{
    background-color:rgb(231,240,254);
    border-radius: 5px;
    border: none;
    height: 40px;
    margin: 2%;
    /* text-indent: 5%; */
}

.report-form-input:focus{
    outline: 1px solid rgb(0,200,6);
    box-shadow: 0 0 3pt 2pt rgb(0,200,6);
}

.report-form-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 1.5%;
    height: 40px;
}

.report-form-button:hover{
    background-color: rgb(6, 189, 12);
    cursor: pointer;
}

.report-form-button:focus {
    border: none;
    box-shadow: rgb(6, 189, 12);;
}

.report-form-select {
    border-radius: 5px;
    padding: 1.5%
}

.report-form-el {
    padding-left: 3%;
    padding-right: 3%;
    margin: 2%;
    border-radius: 5px;

}

.input-icon {
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
    font-size: 1rem;
    /* margin-left: 3%; */
  }
  
  .input-icon > input {
    padding-left: 25px;
    padding-right: 0;
  }
  
  .input-icon-right > i {
    right: 0;
  }
  
  .input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
  }

  .not-hidden {
      color:rgb(0,200,6);
  }

  .hidden {
      display: none
  }

.news-container {
    grid-column: 1/2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid gray;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
}

.news-story-container {
    width: 95%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1.5fr 2.5fr;
    height: 300px;
    max-width: 95%;
    margin-left: 5%;
    border-bottom: 1px solid gray;
}

.news-story-container:hover {
    background-color: rgb(245, 243, 243);
}

.news-story-date {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: .8rem;
    margin-top:5%;
}

.news-story-pic {
    grid-column: 2/3;
    grid-row: 2/5;
    width:95%;
    border-radius:5px;
    margin-right: 2%;
    max-height: 220px;
    max-width: 330px;

}

.news-story-link {
    text-decoration: none;
    color: black;
    max-width: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.2rem;
    margin-left: 5%;
}

.news-story-link:hover {
    color: rgb(0,200,6);
}

.news-story-snippet {
    grid-column: 1/2;
    grid-row: 3/5;
    margin-left:5%;
    margin-right:5%;
    overflow: hidden;
}

.chart-container {
    width:100%;
    margin-top: 5%;
    position: relative;
}

.user-reports-container {
    grid-column: 1/2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tab-container {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid lightgray;
}

.tab-tab {
    margin-left: 4%;
    margin-bottom: 2%;
}

.tab-tab:hover {
    cursor: pointer;
    color:  rgb(0,200,6);
}

.dashboard-main {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.the-line-chat {
    height: 47vh;
}

.history-table-container {
    overflow-y: scroll;
    height: 47vh;
    border-bottom: 1px solid lightgray;
}

.history-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: none;
    margin-top: 5%;
}
  
.history-table  td, .history-table  th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.history-table tr:nth-child(even) {
      background-color: #f2f2f2;
}
  
.history-table tr:hover {background-color: #ddd;}
  
.history-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  rgb(0,200,6);
    color: white;
}

.history-table-delete:hover {
    color:rgb(0,200,6);
    cursor: pointer;
}

.account-tab-container {
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-jackports-list {
    display: none;
}

.viewing {
    font-weight: bold;
    font-size: 1.1rem;
}

@media screen and (max-width: 980px) {
    .my-jackpots-div {
        position: relative;
        display: none;
    }

    .dashboard-page-container {
        width: 100%;
    }

    .dashboard-container {
        width: 95%;
        margin: auto;
        grid-template-columns: 100%;
        grid-template-rows: 3 auto;
        margin: auto;
    }

    .dashboard-greeting {
        font-size: 5rem;
    }

    .tab-tab {
        font-size: 2.8rem;
    }

    .history-table > thead > tr >th, .history-table > tbody > tr > td, .history-table-delete {
        font-size: 2rem;
        padding: 3%;
    }

    .account-details-container > p {
        font-size: 3rem;
    }

    #subscription-title {
        font-size: 2.8rem;
        width: 100%;
        text-align: center;
    }

    .subscription-list-container {
        margin-right: 10%;
    }

    .subscription-el, .subscription-links {
        font-size: 2rem;
    }

    .report-jackpot-form-containeer {
        margin-right: 5%;
    }

    .report-title {
        font-size: 2.8rem;
    }

    .report-form-el, .report-form-select {
        height: 100px;
        font-size: 2rem;
    }

    .report-error {
        font-size: 1.7rem;
        width: 100%;
        text-align: center;
    }

    .big-jackpot-header {
        font-size: 2.8rem;
    }

    .big-jackpot-container > p {
        font-size: 2rem;
    }

    .news-story-container {
        height: 320px;
    }

    .news-container > h3 {
        font-size: 2.8rem;
    }

    .news-story-link {
        grid-column: 1/2;
        grid-row: 2/4;
        width: 100%;
        font-size: 2rem;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
    }

    .news-story-snippet {
        display: none;
    }

    .news-story-date {
        font-size: 1.5rem;
        margin-right: 20%;
    }

    .mobile-jackports-list {
        display: flex;
        flex-direction: column;
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: 10%;
    }

    .my-jackpots-el-div {
        display: grid;
        grid-template-columns: 35% 15% 30% 20%;
        margin: auto;
        margin-top: 5%;
    }

    .my-jackpots-el-div > div {
        display: flex;
        justify-content: center;
        padding-left: 15%;
    }

    .my-jackports-room-name {
        font-size: 2rem;
    }

    .my-jackports-room-hit {
        font-size: 2rem;
    }

    .my-jackports-room-amount {
        font-size: 2rem;
    }

    .sub-container {
        grid-row: 3/4;
        margin: auto;
        margin-top: 10%;
    }

    .chart-container {
        margin: auto;
        width: 95%;
        margin-right: 5%;
    }

    .chartjs-size-monitor {
        margin: auto;
    }

    #line-chart {
        margin: auto;
    }

    .history-table-container {
        margin-right: 5%;
    }

    .input-icon > i {
        font-size: 2rem;
        margin-left: 3%;
    }

    .report-form-input {
        text-indent: 5%;
    }

    .desktop-odds-calc-link {
        display: none;
    }

    .dash-chart-link {
        font-size: 2.8rem;
        font-weight: 400;
    }

    .tab-container, .dashboard-main {
        margin: auto;
    }

    .viewing {
        font-size: 2.8rem;
        font-weight: 400;
    }
}