.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    position: relative;
    bottom: 0;
    height: 50px;
    margin-top: 15px;
    z-index: inherit;  
}

.footer-created-by {
    font-size: .8rem;
    margin-left: 5%;
    margin-top: 2%;
}

.footer-jpd {
    font-weight: bold;
    font-size: .8rem;
    margin-top: 2%;
}

.footer-github-container {
    height: 40px;
    width: 40px;
    margin-right: 5%;
    margin-top: 1%;

}

.footer-github-logo {
    background-image: url("../images/github.png");
    background-size:100% 100%;
    height: 40px;
    width: 40px;
}