.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    position: relative;
    bottom: 0;
    height: 50px;
    margin-top: 15px;
    z-index: inherit;  
    margin-bottom: 20px;
}

.footer-created-by {
    font-size: .8rem;
    margin-left: 5%;
    margin-top: 2%;
}

.footer-jpd {
    font-weight: bold;
    font-size: .8rem;
    margin-top: 2%;
}

.footer-github-container {
    height: 40px;
    width: 40px;
    margin-right: 5%;
    margin-top: 1%;
}

.footer-github-logo {
    background-image: url("../images/github.png");
    background-size:100% 100%;
    height: 40px;
    width: 40px;
}

@media screen and (max-width:980px) {
    .footer-container {
        height: 135px;
    }

    .footer-created-by, .footer-jpd {
        font-size: 1.7rem;
        font-weight: 400;
    }

    .footer-github-logo {
        height: 80px;
        width: 80px;
    }
    .footer-github-container {
        height: 80px;
        width: 80px;
    }
}