.real-page-container {
    width: 100%;
    /* height: 2000px; */
    height: 100vh;
}

.page-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 580px; */
    height: 65%;
    margin-top: 5%;
}

.login-picture-container {
    /* background-color: rgb(0,200,6); */
    height: 100%;
    background-image: url("../images/pokerdraw.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-picture-container {
    grid-column: 1/2;
    height: 100%;
}

.login-form-container {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-title {
    font-family: Wire One;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.login-form-form-label {
    text-align: left;
}

.login-form-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 40px;
    width: 40%;
    padding: 1.5%;

    
}

.login-form-button:hover{
    background-color: rgb(6, 189, 12);
    cursor: pointer;
}

.login-form-button:focus {
    border: none;
    box-shadow: rgb(6, 189, 12);
}

.login-form-input{
    background-color:rgb(231,240,254);
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 50%;
    margin-top: 2%;
    padding-left: 3%;
    padding: 1.5%;
}

.login-form-input:focus{
    /* border-color: rgb(0,200,6);; */
    outline: 1px solid rgb(0,200,6);
    /* -moz-outline-radius: 5px; */
    box-shadow: 0 0 3pt 2pt rgb(0,200,6);
}

.login-form-link {
    color: rgb(0,200,6);
    text-decoration: none;
    margin: 2%;
}

.login-form-link:hover {
    text-decoration: none;
}

.errors-div-error {
    color: red;
}

.login-page-about-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

@media screen and (max-width:980px) {
    .login-page-links {
        font-size: 2.5rem;
        margin-top: 15%;   
    }

    .login-picture-container {
        display: none;
    }

    .login-form-container {
        grid-column: 1/3;
        align-items: center;
        justify-content: flex-start;
        margin-top: 15%;
    }

    .login-form-title {
        font-size: 6rem;
    }

    .login-form-form-label {
        font-size: 2rem;
    }

    .login-form-input {
        height: 100px;
        font-size: 2rem;
        width: 75%;
        margin: 2%;
        margin-top: 5%;
        padding-left: 5%;
    }

    .login-form-button {
        height: 100px;
        font-size: 2rem;
        width: 75%;
        margin: 2%;
        margin-top: 5%;
    }

    .login-form-link {
        font-size: 2rem;
        margin-top: 5%;
    }
}