
.page-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-top: 5%;
}

.login-picture-container {
    background-color: rgb(0,200,6);
    height: 100%;
}

.login-picture-container {
    grid-column: 1/2;
    height: 100%;
}

.login-form-container {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-title {
    font-family: Wire One;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}


.login-form-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 30%;
}

.login-form-form-label {
    text-align: left;
}

.login-form-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 40px;
}

.login-form-button:hover{
    background-color: rgb(6, 189, 12);
}

.login-form-button:focus {
    border: none;
    box-shadow: rgb(6, 189, 12);;
}

.login-form-input{
    background-color:rgb(231,240,254);
    border-radius: 5px;
    border: none;
    height: 40px;
}

.login-form-input:focus{
    /* border-color: rgb(0,200,6);; */
    outline: 1px solid rgb(0,200,6);
    /* -moz-outline-radius: 5px; */
    box-shadow: 0 0 3pt 2pt rgb(0,200,6);
}

.login-form-link {
    color: rgb(0,200,6);
    text-decoration: none;
}

.login-form-link:hover {
    text-decoration: none;
}