body {
    height: 100%;
    overflow: auto;
}

.navbar-nav {
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: white;
}

html {
    height: 100%;
    border: none;
    padding: none;
    margin: none;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

nav{
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.navbar-logo-container {
    grid-column: 1;
    height: 100%;
}

.navbar-logo-container:hover {
    cursor: pointer;
}

.logo-div {
    height: 100%;
    margin-left: 5%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}

.navbar-logo {
    height:60px;
    margin-top: 2%;
}

.navbar-title {
    margin-left: 15%;
    font-weight: 300;
    align-self: flex-start;
    margin-top: 25px;
}

.navbar-link-container {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 2;
    height: 100%;
    align-items: center;
    margin-top: 10px;
}

.nav-link {
    margin: 3%;
    text-decoration: none;
    font-size: .8rem;
    color: black;
}

.logout-button {
 background-color: white;
 border: none;   
 font-family: 'Nunito', sans-serif;
 font-size: .8rem;
 color: black;
 margin-right: 30px;
}

.logout-button:hover {
    cursor: pointer;
}

.nav-link:hover{
    color: rgb(0,200,6);
}

.logout-button:hover{
    color: rgb(0,200,6);
}