body {
    height: 100%;
    overflow: auto;
}

.navbar-nav {
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255,0.5);
}

html {
    height: 100%;
    border: none;
    padding: none;
    margin: none;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

nav{
    height: 90px;
    display: flex;
    align-items: center;
}

.navbar-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid lightgrey;
    background-color: rgba(255,255,255,0.9);
    z-index: 2000;
    height: 90px;
    padding-bottom: 5px;
}

.navbar-logo-container {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
}

.navbar-logo-container:hover {
    cursor: pointer;
}

.logo-div {
    height: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

}

.navbar-logo {
    height:60px;
}

.navbar-title {
    margin-left: 15%;
    font-weight: 300;
    align-self: flex-start;
    align-self: center;
}

.navbar-link-container {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 2;
    height: 90%;
    align-items: center;
}

.nav-link {
    margin: 3%;
    text-decoration: none;
    font-size: .8rem;
    color: black;
}

.logout-button {
 background-color: white;
 border: none;   
 font-family: 'Nunito', sans-serif;
 font-size: .8rem;
 color: black;
 margin-right: 30px;
}

.logout-button:hover {
    cursor: pointer;
}

.nav-link:hover{
    color: rgb(0,200,6);
}

.logout-button:hover{
    color: rgb(0,200,6);
}

.navbar-burger-container {
    display: none;
}

.mobile-logout-button {
    display: none;
}

#mobile-menu-container {
    display: none;
}

@media screen and (max-width: 980px) {
    html,body, #root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

    .navbar-nav{
        height: 175px;
    }

    .navbar-container {
        height: 100%;
        grid-template-rows: 100%;
    }

    .flex-container, .flex-column  {
        display: none;
    }

    .logo-div {
        margin: auto;
    }

    .logout-button {
        display: none;
    }

    #auto {
        display: none;
    }

    .navbar-link-container {
        display: none;
    }

    .navbar-logo-container {
        grid-column: 1/3;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar-logo {
        width: 75px;
        height: 100px;
        margin-left: 8%;
    }

    .navbar-title {
        margin: auto;
        margin-left: 15%;
        font-size: 3rem;
        font-weight: bold;
    }

    .navbar-burger-container {
        grid-column: 3/4;
        grid-row: 1/2;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mobile-burger-img {
        width: 100px;
        height: 125px;
        margin-right: 15%;
    }

    .mobile-burger-img:hover {
        cursor: pointer;
    }

    #mobile-menu-container {
        position: fixed;
        width: 100vw;
        display: block;
        z-index: 100;
        
        transform: translate3d(0, -100vh, 0);
        transition: transform 500ms cubic-bezier(0.3, 0, 0, 1.15);
        overflow: hidden;
        z-index: -100;
    }

    #mobile-menu-container.show {
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }

    .menu-menu-link-div {
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgray;
        text-align: center;
        background-color: rgba(255,255,255,0.95);
    }

    .top-mobile-select {
        border-top: 1px solid lightgray;
    }

    .menu-menu-link-div:hover {
        cursor: pointer;
        background-color: rgb(234, 234, 234);
        color: rgb(0,200,6);
    }

    .nav-link {
        font-size: 3rem;
        width: 100%;
        height: 100%;
        margin: none;
        padding: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 151;
    }

    .logout-button {
        font-size: 1.4rem;
        margin:auto;
    }

    .logout-button:hover{
        background-color: rgb(234, 234, 234);
    }

    #logout-button-holder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-logout-button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .mobile-logout-button:hover {
        cursor: pointer;
        color: rgb(0,200,6);
    }
    
}