.odds-calc-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 2%; */
}

.odds-calc-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 175px;
    margin-top: 3%;
}

.odds-calc-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 100px;
    background-color:  rgb(0,200,6);
}

.table-card-1, .table-card-2, .table-card-3, .table-card-4, .table-card-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 70%;
    border: 1px solid gray;
    margin: 2%;
    background-color: darkgray;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    max-width: 88px;
    color: black;
}

.table-card-1:hover, .table-card-2:hover, .table-card-3:hover, .table-card-4:hover, .table-card-5:hover{
    outline: 2px solid rgb(0,255,0);
    cursor: pointer;
    background-color: lightgray;
}

.table-card-1:focus, .table-card-2:focus, .table-card-3:focus, .table-card-4:focus, .table-card-5:focus {
    outline: 2px solid rgb(0,255,0);
}

.player-hands-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.player-row-div {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    height: 75px;
}

.player-row-name {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.player-row-odds {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.player-row-cards-container {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 60px;
    border: 1px solid gray;
    margin: 2%;
    background-color: darkgray;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    color: black;
}

.player-card:hover {
    outline: 2px solid rgb(0,255,0);
    cursor: pointer;
    background-color: lightgray;
}

.card-select-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-select-card {
margin: 1%;
}

.card-select-card:hover {
    cursor: pointer;
}

.calc-reset-button {
    margin-top: 2%;
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 40px;
    width: 20%;
    padding: 1.5%;
}

.calc-reset-button:hover {
    cursor: pointer;
    background-color: rgb(6, 189, 12);
}

.calc-reset-button:focus {
    outline: none;
}

.suit-select-container {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.suit-select-div {
    margin: 3%;
    margin-top: 9%;
    margin-bottom: 2%;
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 70px;
    width: 40%;
    padding: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suit-select-div:hover {
    cursor: pointer;
    background-color: rgb(6, 189, 12);
}

.red {
    color: red;
    margin-right: 5%;
    text-align: center;
    font-size: 1.3rem;
}

.black {
    color: black;
    text-align: center;
    margin-right: 5%;
    font-size: 1.3rem;
}

.red:hover, .black:hover {
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .odds-calc-container {
        height: 99vh;
        justify-content: flex-start;
    }

    .calc-reset-button {
        height: 100px;
        width: 80%;
        font-size: 2.5rem;
        margin-bottom: 5%;
    }

    .odds-calc-table-container {
        height: 350px;
        margin-top: 5%;
    }

    .odds-calc-table {
        width: 100%;
        height: 100%;
    }
    

    .table-card-1, .table-card-2, .table-card-3, .table-card-4, .table-card-5 {
        max-width: none;
        width: 150px;
        font-size: 3rem;
        height: 200px;
    }
    
    .player-hands-container {
        margin-top: 10%;
    }

    .player-row-div {
        height: 250px;
    }

    .player-row-name, .player-row-odds {
        font-size: 2.8rem;
        font-size: 2.8rem;
    }

    .player-card {
        width: 135px;
        height: 190px;
        font-size: 3rem;
    }

    .suit-select-div {
        font-size: 3rem;
        width: 50%;
        height: 100px;
    }

    .card-select-container {
        margin-top: 15%;
        height: 40%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}