#auto {
    position: absolute;
    padding: 10px;
    height: 17px;
    width: 225px;
    border: 1px solid lightgray;
    margin: 20px;
    margin-top: 25px;
    font-size: 1rem;
    justify-self: center;

}

#auto:hover {
  border: none;
  box-shadow:  0px 0px 14px 14px rgb(238, 238, 238);
}

#auto:focus {
  outline: none;
  border: none;
  box-shadow:  0px 0px 14px 14px rgb(238, 238, 238);
}

input:focus {
  outline: none
}

.pos-rel {
    position: relative;
  }
  
.autoContainer {
    position: absolute;
    background-color: whitesmoke;
    left: 7%;
    top: 64px;
    width: 245px;
    z-index: 10;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    padding: 5px;
  }
  
.option,
  span {
    font-size: .8rem;
    text-transform: capitalize;
    width: 100%;
    margin-left: 3%;
    /* margin-right: 3%; */
}
  
.flex-container {
    position: absolute;
    left: 39%;
    grid-column: 2/3;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 90%;
    width: 300px;
  }
  
.flex-column {
    flex-direction: column;
  }

.option-link {
    text-decoration: none;
    color: black;
}

.option-link:hover {
    color: rgb(6, 189, 12);
}