#auto {
    padding: 10px;
    height: 20px;
    width: 80%;
    border: 1px solid lightgray;
    margin: 6%;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    justify-self: flex-start;

}

#auto:hover {
  border: none;
  box-shadow:  0px 0px 14px 14px rgb(238, 238, 238);
}

#auto:focus {
  outline: none;
  border: none;
  box-shadow:  0px 0px 14px 14px rgb(238, 238, 238);
}

input:focus {
  outline: none
}

.pos-rel {
    position: relative;
  }
  
.autoContainer {
    position: absolute;
    /* border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: lightgray; */
    background-color: whitesmoke;
    right: 9.5%;
    top: 75%;
    width: 84%;
    z-index: 10;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 5px;
  }
  
.option,
  span {
    font-size: .8rem;
    text-transform: capitalize;
    width: 100%;
    margin-left: 3%;
    /* margin-right: 3%; */
}
  
.flex-container {
    display: flex;
    margin-top: 1%;
    grid-column: 2/3;
  }
  
.flex-column {
    flex-direction: column;
  }

.option-link {
    text-decoration: none;
    color: black;
}

.option-link:hover {
    color: rgb(6, 189, 12);
}