.signup-page-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.sign-up-form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.sign-up-form-form {
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    min-width: 450px;
}


.signup-form-input:focus{
    outline: 1px solid rgb(0,200,6);
    box-shadow: 0 0 3pt 2pt rgb(0,200,6);
}

.signup-form-el {
    margin: 1%;
    width: 50%;
    border-radius: 5px;
    padding: 1.5%;
}

.signup-form-input {
    background-color:rgb(231,240,254);
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 1%
}

.signup-form-button {
    background-color: rgb(0,200,6);
    border-radius: 5px;
    color: white;
    border: none;
    height: 40px;
}

.signup-form-button:hover {
    background-color: rgb(6, 189, 12);
    cursor: pointer;
}

.signup-form-have-account {
    text-decoration: none;
    color: black;
    margin-bottom: 20%;
}

.signup-form-have-account:hover {
    color: rgb(6, 189, 12);
}

.signup-error{
    color: red;
}   

.errors-container {
    border: 1px solid red;
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.signup-logo-div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.signup-form-logo {
    width: 30%;
    height: 100%;
}

.login-page-about-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-top: 1%;
}

@media screen and (max-width: 980px) {
    .sign-up-form-form {
        height: 50%;
    }

    .signup-page-container {
        width: 100%;
        margin-top: 15%;
    }

    .sign-up-form-container {
        width: 95%;
    }

    .signup-form-logo {
        height: 200px;
        width: 160px;
    }

    .signup-title {
        font-size: 2.5rem;
    }

    .signup-form-el {
        height: 100px;
        font-size: 2rem;
        width: 75%;
        margin: 2%;
    }

    .signup-form-have-account {
        font-size: 3rem;
    }

    .sign-up-page-link {
        font-size: 2.5rem;
        margin-top: 15%;
    }

    .signup-form-input {
        padding-left: 5%;
    }

    .signup-error {
        font-size: 2rem;
    }
}   