.success-page-container {
    width: 100%;
    height: 1400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.success title {

}

.success-link {
    text-decoration: none;
    color: black;
}

.success-link:hover{
    color: rgb(0,200,6);
}